*{
    padding: 0;
    margin: 0;
      
}   
body{
    background-image: url(be6.jpg);
    background-size: 100%;
    font-family: sans-serif;
    font-size: xx-large;
   
}
.menu-bar{
    background-color: rgb(63, 63, 60,0.2);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 90px;
    margin: 15px;
    padding: 15px;
    font-size: 15px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
        background-color:rgb(76, 46, 183);
        border-radius: 5px;
}       
.product{
    display: none;
}
.menu-bar ul li:hover .product{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    background:rgb(105, 38, 143);
}

.menu-bar ul li:hover .product ul{
    display: block;
}
.menu-bar ul li:hover .product ul li{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: rgb(230, 70, 7);
    text-align: left;
}
.menu-bar ul li:hover .product ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .product ul li a:hover{
           color: rgb(22, 243, 184);
}
.product-2{
    display: none;
}
.services:hover .product-2{
    display: block;
    position: absolute;
    
}
.services:hover .product-2{
    display: block;
    position: absolute;
    margin: auto;
    margin-top: auto;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: -170px;
    background-color: rgba(240, 242, 243, 0.1);
}
.form{
    width: 200px;
    height: 300px;
    border: 5px solid white;
    background: linear-gradient(to top,rgba(17, 154, 222, 0.1)50%,rgba(169, 169, 101, 0.2)50%);
    position: absolute;
    top: 170px;
    right:10px;
    border-radius: 20px;
    padding: 50px;
}
.form h3{
    color: #d2c1db;
}
input{
    padding:10px;
    border-radius: 50px;
}
.link{
    color: aqua;
}
.btn{
    background-color: chocolate;
    color: rgb(4, 2, 0);
    padding: 15px;
    border-radius: 50px;
    width: 200px;
    margin-top: 20px;
}
.btn a{
    text-decoration: none;
}
